
<div class="conter hero-unit">
	<h1>Capstone Project</h1><br><br><br>
	<h2>This is a website that has been created to help students and IT people to add their projects and publish them. 
</h2>
	
	<%= link_to "Sign up now!", 'signup', class: "btn btn-large btn-primary" %>
   </div>

   <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

   
